header {
  background-color: white;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 5px 150px 0 100px;
}

.nav-bar img {
  margin-right: 30px;
}

h2 a {
  text-decoration: none;
  color: black;
}

p a {
  color: #326891;
}

.nav-bar a {
  text-decoration: none;
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: 19px;
  color: black;
  position: relative;
  bottom: 3px;
}

.login-button {
  width: 60px;
}

.nav-bar input {
  max-width: 115px;
  height: 30px;
  border-radius: 3px;
  background-color: #567b95;
  border: none;
  color: white;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

article {
  margin-top: 30px;
}

h1 {
  margin: 0 auto 30px auto;
  width: 600px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 35px;
  line-height: 48px;
  font-weight: 700;
  font-style: italic;
}

.mainImg {
  display: block;
  width: 1200px;
  height: 670px;
  margin: 0 auto;
  background-color: red;
}

.figMain {
  width: 1200px;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 15px;
  color: rgb(102, 102, 102);
  margin: 10px auto 40px auto;
}

.figMain span {
  color: #888;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 13px;
}

.h2anchor {
  width: 600px;
  margin: 0 auto;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}

.social {
  width: 600px;
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social img {
  margin-left: 5px;
}

article p {
  width: 600px;
  margin: 0 auto 15px auto;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.secondh2 {
  width: 600px;
  margin: 30px auto 30px auto;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.inflation {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "one two three four"
    "five six seven eight";
}

.inflationTitle {
  width: 1000px;
  margin: 30px auto 0 auto;
}

.inflationText {
  color: rgb(102, 102, 102);
  font-family: nyt-cheltenham-sh, georgia, "times new roman", times, serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 1000px;
  margin: 0 auto;
}

.grid {
  width: 200px;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
}

.grid img {
  height: 130px;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.inflationAuth {
  width: 1000px;
  margin: 55px auto 70px auto;
  justify-content: left;
}

.inflationAuth hr {
  width: 60px;
  height: 1px;
  background-color: #000;
  margin-left: 0;
}

iframe {
  display: block;
  width: 600px;
  height: 315px;
  margin: 40px auto 10px auto;
  border: 0;
}

.video-caption {
  width: 600px;
  margin: 0 auto 50px auto;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #666;
}

.video-caption span {
  color: #888;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.secondImg {
  width: 700px;
  height: 450px;
  margin: 0 auto;
  display: block;
}

.image-caption {
  width: 700px;
  margin: 10px auto 40px auto;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #666;
}

.image-caption span {
  color: #888;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.articleCaption {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 12px;
  color: rgb(102, 102, 102);
  line-height: 16px;
  font-weight: 400;
}

.articleCaption a {
  color: rgb(102, 102, 102);
}

.comments {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 25px auto;
}

.comments input {
  width: 350px;
  height: 35px;
  border-radius: 3px;
  background-color: #567b95;
  border: none;
  color: white;
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.comments img {
  margin-left: 10px;
}

.container {
  display: grid;
  width: 1200px;
  gap: 5px;
  margin: 0 auto;
  grid-template-columns: repeat(4 1fr);
  grid-template-areas:
    "one two three ten"
    "four five six ten"
    "seven eight nine ten";
  grid-auto-rows: minmax(600px auto);
}

.container span {
  display: block;
  text-align: right;
  color: #999;
  line-height: 12.3px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 11px;
}

.container h2 {
  line-height: 22px;
  font-weight: 500;
  font-size: 18px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}

.container p {
  font-size: 12px;
  color: #999;
  line-height: 20px;
  font-weight: 500;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.container img {
  height: 188px;
}

.item {
  width: 280px;
}

.first {
  grid-area: one;
}

.second {
  grid-area: two;
}

.third {
  grid-area: three;
}

.fourth {
  grid-area: four;
}

.fifth {
  grid-area: five;
}

.sixth {
  grid-area: six;
}

.seventh {
  grid-area: seven;
}

.eight-t {
  grid-area: eight;
}

.nineth {
  grid-area: nine;
}

.popular {
  grid-area: ten;
}

.fourth hr {
  width: 880px;
  height: 1px;
}

.popular div {
  color: black;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  line-height: 23px;
  font-size: 19px;
  font-weight: 500;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 15px 0;
}

.popular-div {
  border-top: 1px solid rgb(226, 226, 226);
}

.suggestedTitles {
  display: flex;
  width: 1200px;
  margin: 65px auto 0;
}

.suggestedTitles h2 {
  border-top: 1px solid;
  padding-top: 20px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.spaceAstronomy {
  flex-grow: 3.4;
  margin-right: 20px;
}

.mostPopular {
  flex-grow: 1;
}

.footer-title {
  display: flex;
  width: 1200px;
  margin: 50px auto 15px;
  justify-content: space-between;
  border-top: 2px solid;
  border-color: hsl(0, 5%, 76%);
  padding-top: 10px;
}

.footer-title a {
  color: #567b95;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  line-height: 11px;
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
  align-items: flex-end;
  justify-items: flex-end;
}

.footerDiv {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.footerDiv a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  line-height: 16px;
  font-weight: 500;
  margin: 8px 0;
}

h3 {
  color: #333;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
}

.subscribeFooter {
  border-left: 1px solid rgb(226, 226, 226);
  padding-left: 20px;
}

.educationR {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 7px;
}

.copyright {
  width: 1100px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgb(226, 226, 226);
  padding-top: 18px;
}

.copyright a {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  line-height: 11px;
  font-weight: 400;
  text-decoration: none;
  color: #666;
}

.subscribeFooter span a {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  line-height: 21px;
}

.copyright a:hover {
  text-decoration: underline solid rgb(102, 102, 102);
}
