header {
  background-color: white;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 150px 0 100px;
}

.nav-bar img {
  margin-right: 30px;
}

.nav-bar a {
  text-decoration: none;
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: 19px;
  color: black;
  position: relative;
  bottom: 3px;
}

.login-button {
  width: 60px;
}

.nav-bar input {
  max-width: 115px;
  height: 30px;
  border-radius: 3px;
  background-color: #567b95;
  border: none;
  color: white;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

article {
  margin-top: 30px;
}

h1 {
  margin: 0 auto 30px auto;
  width: 600px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 35px;
  line-height: 48px;
  font-weight: 700;
  font-style: italic;
}

.mainImg {
  display: block;
  width: 1200px;
  height: 670px;
  margin: 0 auto;
  background-color: red;
}

.figMain {
  width: 1200px;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 15px;
  color: rgb(102, 102, 102);
  margin: 10px auto 40px auto;
}

.figMain span {
  color: #888888;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 13px;
}

.h2anchor {
  width: 600px;
  margin: 0 auto;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}

h2 a {
  text-decoration: none;
  color: black;
}

.social {
  width: 600px;
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  align-items: center;
}

.social img {
  margin-left: 5px;
}

article p {
  width: 600px;
  margin: 0 auto 15px auto;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

p a {
  color: #326891;
}

.secondh2 {
  width: 600px;
  margin: 30px auto 30px auto;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.inflation {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "one two three four"
    "five six seven eight";
}

.inflationTitle {
  width: 1000px;
  margin: 30px auto 0 auto;
}

.inflationText {
  color: rgb(102, 102, 102);
  font-family: nyt-cheltenham-sh, georgia, "times new roman", times, serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 1000px;
  margin: 0 auto;
}

.grid {
  width: 200px;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
}

.grid img {
  height: 130px;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}

.inflationAuth {
  width: 1000px;
  margin: 55px auto 70px auto;
  justify-content: left;
}

hr {
  width: 60px;
  height: 1px;
  background-color: #000;
  margin-left: 0;
}

iframe {
  display: block;
  width: 600px;
  height: 315px;
  margin: 40px auto 10px auto;
  border: 0;
}

.video-caption {
  width: 600px;
  margin: 0 auto 50px auto;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #666666;
}
.video-caption span {
  color: #888888;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.secondImg {
  width: 700px;
  height: 450px;
  margin: 0 auto;
  display: block;
}

.image-caption {
  width: 700px;
  margin: 10px auto 40px auto;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #666666;
}
.image-caption span {
  color: #888888;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
